@page "/createpost"
@using MiniProjektSA.Models
@using Services
@inject PostService PostService
@inject NavigationManager NavigationManager

<div>
    <br/>
    <h3>Create a new Post</h3>
    <input placeholder="Title" @bind="newPost.Title" />
    <input placeholder="Content" @bind="newPost.Content" />
    <button @onclick="CreateNewPost">Create Post</button>
</div>

@code {
    private PostModel newPost = new("", "", DateTime.Now);

    private async Task CreateNewPost()
    {
        Console.WriteLine("Creating new post");

        if (string.IsNullOrWhiteSpace(newPost.Title) ||
            string.IsNullOrWhiteSpace(newPost.Content))
        {
            return;
        }

        await PostService.CreatePost(newPost);

        newPost = new("", "", DateTime.Now);
    }
}