@page "/createpost"
@using MiniProjektSA.Models
@using MiniProjektSABlazor.Services
@inject PostService PostService
@inject NavigationManager NavigationManager;

<div>
    <br/>
    <h3>Create a new Post</h3>
    <input placeholder="Title" type="input" id="postTitle" @bind-value="newPost.Title"/>
    <input placeholder="Content" type="input" id="postContent" @bind-value="newPost.Content"/>
    <button id="createPostButton" type="button" @onclick="CreateNewPost">Create Post</button>
</div>

@code {
    private PostModel newPost = new("", "", DateTime.Now);
    
    private async void CreateNewPost()
    {
    Console.WriteLine("Creating new post");
    if (newPost.Title == null || newPost.Content == null)
    { 
        return;
    }
    Console.WriteLine(newPost.Title + " " + newPost.Content);
    // TODO: Provide list of users from dropdown, or maybe just convert
    // from username to UserId

    await PostService.CreatePost(newPost);
    StateHasChanged();
    NavigationManager.NavigateTo("/", true);
}
}